.masthead{
    background-color: black;
}

#mainHeader{
    color: beige;
    font-size: 70px;
    font-family: 'Fredoka One', cursive;
}

.form-control{
    width: auto;
}

.form-group{
    width: 400px;
    margin: auto;
}

.btn{
    margin: 0px 200px;
}
#log-intitle{
    width: 100px;
    margin: auto;
    
}

#Log-in{
    display: block;
    margin: 90px auto;
    padding: 190px 0px;
    width: 500px;
    border: 2px solid #ccc;
    border-radius: 16px;   
}

#lottieLogin{
    margin: auto;
}

