.masthead{
    background-color: black;
}

#mainHeader{
    color: beige;
    font-size: 70px;
    font-family: 'Fredoka One', cursive;
}

.form-control{
    width: auto;
}

.form-group{
    width: 400px;
    margin: auto;
}

.btn{
    margin: 0px 200px;
}
#log-intitle{
    width: 100px;
    margin: auto;
    
}

#mainBlock{
    display: block;
    margin: 90px auto;
    padding: 120px 0px;
    width: 500px;
    border: 2px solid #ccc;
    border-radius: 16px;   
}

#signupBlock{
    display: block;
    margin: 90px auto;
    padding: 90px 0px;
    width: 500px;
    border: 2px solid #ccc;
    border-radius: 16px;   
}


#successAnimation{
    margin: auto;
}

#donthaveaccount{
    width: 100px;
    margin: 0px 200px;
}

/*Styling for home page(main.html)*/
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    
    
}



#inventory{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    height: auto;
    margin:auto
    
    
    
    
}

#itemcat{
    width: auto;
    
    font-family: 'Noto Sans HK', sans-serif;

}

.item p{
    width: 100px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}

.item{
    
    width: 100px;
    height: 220px;
    margin: 50px;
    
}



/*Styling for Trivia page(trivia.html)*/

.question{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;

}

#trivia div{
    margin: 30px;
    border-style: solid;
    border: 2px;
    border-color: black;
    
}

#triviaintro{
    font-family: 'Noto Sans SC', sans-serif;
    margin: auto;
    margin-bottom: 200px;
    width: auto;
    height: auto;
    font-size: 35px;
    
}


#trivia label{
    font-size: 30px;
}

#trivia #submitquiz{
    width: 100px;
    margin: 30px;
    
}

#quiz{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;
    
    
    width: auto;
    height: auto;
}

